################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/xor-encrypt/obj/Debug
/AudioPlayerWithCustomStream.opensdf
/AudioPlayerWithCustomStream.sdf
/AudioPlayerWithCustomStream.v12.suo
/Debug/MFUtils
/ipch/mfutils-6b12e868
/MediaPlayerWithCustomStream/bin/x86/Debug
/MediaPlayerWithCustomStream/bld/x86/Debug
/MFUtils/Debug
/xor-encrypt/bin/Debug
